/* Contenedor Principal */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
}

/* login */
.login {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    width: 400px;
    flex-direction: column;
    gap: 35px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
          -16px -16px 32px #fefefe;
    border-radius: 8px;
  }
  
  .inputBox {
    position: relative;
    width: 250px;
  }
  
  .inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }
  
  .enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
  }
  
  .enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  

  /* animacio */ 
.pyramid-loader {
    position: relative;
    width: 300px;  
    height: 300px; 
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
  }
  
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .pyramid-loader .wrapper .side {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: linear-gradient(to bottom right, #449f20, #00ff40);
  }
  
  .pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: linear-gradient(to bottom right, #449f20, #00ff40);
  }
  
  .pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: linear-gradient(to bottom right, #449f20, #00ff40);
  }
  
  .pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: linear-gradient(to bottom right, #449f20, #00ff40);
  }
  
  .pyramid-loader .wrapper .shadow {
    width: 60px;
    height: 60px;
    background: #8b5ad5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
  }
  
  /* boton oscuro-claro */
  /* Botón de tema */
.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
    transition: color 0.3s;
}

.dark-mode .theme-toggle {
    color: #fff;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .card {
    background-color: #444;
    color: #fff;
    box-shadow: 16px 16px 32px #222, -16px -16px 32px #b2adad;
}

body.dark-mode .inputBox input,
body.dark-mode .inputBox span {
    color: #fff;
    border-color: #fff;
}

body.dark-mode .enter {
    border-color: #fff;
    color: #fff;
}

body.dark-mode .enter:hover {
    background-color: #fff;
    color: #000;
}

/* Estilos generales para el contenedor del interruptor */
label {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.toggle-slot {
    width: 49px;
    height: 21px;
    background-color: #000000;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transition: background-color 0.3s ease;
}

.toggle-checkbox {
    display: none;
}

.toggle-checkbox:checked + .toggle-slot {
    background-color: #ffffff; /* Cambia de color en modo oscuro */
}

/* Icono del sol */
.sun-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffb400; /* Amarillo para el sol */
    font-size: 16px;
}

.moon-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffeb3b; /* Color del ícono de luna */
    font-size: 16px;
}

/* Botón deslizante */
.toggle-button {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 26px;
    height: 26px;
    background-color: #65ff13;
    border-radius: 50%;
    transition: left 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-checkbox:checked + .toggle-slot .toggle-button {
    left: 30px; /* Mueve el botón al lado derecho cuando está activado */
}

